
#top{
  background-color:black;
    
  width: 100%;
  height: 170px;
  display: inline-block;
  
}
.container{
  background-color: black;
   
  color: white;
  
  padding-bottom: 50px;

  margin-top: 20px;

  height: 100%;
  width:100%; 

  text-align: center;
   

}

  
.container1{
  background-color: black;
   
  color: white;
  height: 400px;
  width:auto;
  padding-bottom: 50px;
  margin-top: 100px;
   

}

.container2{
  background-color: black;
   
  color: white;
  height: 400px;
  width:auto;
  padding-bottom: 250px;
  margin-top: 100px;
   
}

p{
  color: white;
}
 
h2{
  font-size: 40px;
  text-align: center;
  color: white;
  background-color: black;
}

h3{

  display: inline;
    
}

h4{
  display: inline;
  padding: 10px; text-decoration: none;
}

body{
  background-image: url(../images.png/body.jpeg);

}
.menu{
  padding-top: 20px; 
  padding-bottom: 20px; 
  padding-left: 20px;
  padding-right: 20px;

  margin-top: 2px;
 
  background-color:rgb(8, 168, 8);
  color: black;
  cursor: pointer;

  width:100%;
  height: 20px;

  
 
}
.menu:hover{
  background-color: yellow;
}
.menu2{
  padding-top: 20px; 
  padding-bottom: 20px; 
  padding-left: 20px;
  padding-right: 20px;

  margin-top: 2px;

  background-color:rgb(8, 168, 8);
  cursor: pointer;

  width:100%;
  height: 20px;
}
.menu2:hover{
  background-color: yellow;
}
.btok{
  width: 98%;
  height: 100px;
}

label{
  color: white;
}

button{
  padding-top: 10px; 
  padding-bottom: 10px; 
  padding-left: 50px; 
  padding-right: 50px; 
  margin-top: 10px;
  
  background-color:rgb(8, 168, 8);
}
button:hover{
  background-color: yellow;
}

.textmatrec{
 margin-left: 5px;

}
.imgmatrec{
  width: 170px;
  height:300px;
  padding: 10px;



}
.imgmatrec:hover{
  width: 170px;
  height:300px;
  padding: 10px;
  
  opacity: 0.6;



}

